@import "../../scss/toolkit";

h1 {
  font-family: 'Audiowide', cursive;
  font-size: 5em;
  margin-bottom: .4em;
  display: inline-block;
  float: left;
  color: darken($bright_header, 10%);
}

h2 {
  font-family: 'Audiowide', cursive;
  font-size: 2em;
  color: $bright_header;
}

.innerspan {
  display: inline-block;
  float: left;
}

.header {
  margin: 0 auto;
  width: 1024px;
  height: 6em;
  display: flex;
}

.header__block {
  align-self: flex-end;
  flex: 1 100%;
}