/* _base.scss */

body {
  font-size: 62.5%;
  line-height: 2em;
  font-family: 'Inconsolata', monospace;
  /*
  color: $text;
  */
}

.wrapper {
  max-width: 1360px;
  margin: 10px auto;
  height: calc(100vh - 20px);
}