<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="canonical" href="http://diceware.buzz"/>
  <title>Diceware</title>
  <link href='https://fonts.googleapis.com/css?family=Audiowide|Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <% if (debug === false) { %>
  <link type="text/css" rel="stylesheet" media="all" href="css/app.<%= version %>.css" />
  <% } %>
</head>
<body>
  <div class="diceware"></div>
  <script src="js/app.<%= version %>.js"></script>
</body>
</html>
