<!DOCTYPE html>
<html class="no-js" lang="en-GB">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Diceware</title>
  <link type="text/css" rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Roboto+Condensed:400,300,300italic,400italic,700,700italic"/>
  <% if (debug === false) { %>
  <link type="text/css" rel="stylesheet" media="all" href="css/app.<%= version %>.css" />
  <% } %>
</head>
<body>
  <div class="diceware"></div>
  <script src="js/app.<%= version %>.js"></script>
</body>
</html>
