<!DOCTYPE html>
<html class="no-js" lang="en-GB">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="referrer" content="origin-when-crossorigin">
  <link rel="canonical" href="https://diceware.buzz"/>
  <title>Diceware</title>
  <script>
    WebFontConfig = {
      google: {
        families: ['Audiowide','Inconsolata:400,700']
      }
    };
    (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
      s.parentNode.insertBefore(wf, s);
    })(document);
  </script>
  <% if (debug === false) { %>
  <link type="text/css" rel="stylesheet" media="all" href="css/app.<%= version %>.css" />
  <% } %>
</head>
<body>
  <div class="diceware"></div>
  <script src="js/app.<%= version %>.js"></script>
</body>
</html>
